/build/libs/app_friends_reborn-1.0-SNAPSHOT.jar
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.2/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.2/executionHistory/executionHistory.lock
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.2/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.2/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/7.2/dependencies-accessors/gc.properties
/.gradle/7.2/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/7.1/fileChanges/last-build.bin
/.gradle/7.2/fileChanges/last-build.bin
/settings.gradle
/.gradle/7.2/fileHashes/resourceHashesCache.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/buildOutputCleanup/outputFiles.bin
*.class
.gitignore
/build/reports/tests/test/classes/AppTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/packages/default-package.html
/build/reports/tests/test/index.html
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-AppTest.xml
